header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}

nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

h1 {
  width: 50%;
}
